/*
 *      Reusable Styles
 */

// Util to colour our buttons
@mixin style-button ($colour, $percent: 5%) {
  background: $colour;
  border-color: darken($colour, 4%);
  @include not-small {
    &:hover { background-color: darken($colour, $percent); }
  }
  .icon { color: $colour; }
}





// Responsive utils
@mixin only-large {
  @media only screen and (max-width:1200px) { @content; }
}

@mixin only-normal {
  @media only screen and (max-width:992px) { @content; }
}

@mixin only-small {
  @media only screen and (max-width:767px) { @content; }
}

@mixin only-mobile {
  @media only screen and (max-width:480px) { @content; }
}



@mixin not-large {
  @media only screen and (min-width:1101px) { @content; }
}

@mixin not-normal {
  @media only screen and (min-width:993px) { @content; }
}

@mixin not-small {
  @media only screen and (min-width:768px) { @content; }
}

@mixin not-mobile {
  @media only screen and (min-width:481px) { @content; }
}




@mixin reset-style {
  background: white;
  border: 0;
  outline: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
}








// Custom styles
.light-text { color: $lightTextColour; }
[v-cloak] { display: none; }



// Common Styles
@mixin text-style {
  font-family: $openSans;
  font-size: 14px;
  font-weight: 400;
  color: $bodyTextColour;
}

@mixin heading-style {
  font-family: $openSans;
  font-style: oblique;
  font-weight: 600;
}

@mixin title-style {
  font-size: 38px;
  font-family: $openSans;
  font-style: normal;
  font-weight: 700;
  color: $darkColour;
  
  @include only-small { font-size: 28px; }
}

@mixin card-style {
  border: 1px solid $cardBorder;
  background: $cardBackground;
  padding: $cardPadding;
  margin-bottom: $cardPadding;
  border-radius: 2px;
}

@mixin button-style ($animated: false) {
  cursor: pointer;
  user-select: none;
  border-radius: 2em;
  color: white;
  padding: 0.5em 1em;
  font-size: 16px;
  font-weight: 600;
  font-family: $openSans;
  border: 1px solid #ccc;
  display: inline-block;
  
  -webkit-font-smoothing: antialiased;
  
  margin: 0 0.1em 0.5em;
  
  &:hover { text-decoration: none; }
  
  
  box-shadow: -1.5px -1.5px 0px rgba(0,0,0,0.1) inset;
  
  
  
  @if $animated {
    transform: scale(1);
    transition: background-color 0.3s, transform 0.3s, border 0.3s;
    
    @include not-small {
      &:hover, &:focus { transform: scale(1.03); outline: 0; text-decoration: none; }
    }
    &:active { transform: scale(0.95); }
    
    &.with-icon .icon {
      transition: transform 0.4s;
      transform: scale(1);
    }
    
    &.with-icon:hover .icon {
      transform: scale(1.08);
    }
  }
  
  
  &.full-width { display: block; }
  
  &.with-icon {
    position: relative;
    padding-left: 2.4em;
    
    .icon {
      position: absolute;
      left: 0.3em;
      top: 0.3em;
      bottom: 0.3em;
      width: 1.8em;
      border-radius: 1em;
      
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  
  &.primary { @include style-button($primaryColour); }
  &.secondary { @include style-button($secondaryColour); }
  &.green { @include style-button($greenColour); }
  &.blue { @include style-button($blueColour); }
  &.red { @include style-button($redColour); }
  &.orange { @include style-button($orangeColour); }
  &.purple { @include style-button($purpleColour); }
}

html { height: 100%; }
