/*
 *  Variable definitions
 */


// General Config
$primaryColour: #3385CB;
$secondaryColour: #aaaab1;


// Header Config
$headerBackground: #fff;
$headerInactive: #777;
$headerActive: #333;
$headerActiveBackground: #f1f1f1;


// Card Config
$cardBorder: #eaeaea;
$cardBackground: #fff;
$cardPadding: 18px;


// Fonts
$openSans: 'Open Sans', -apple-system, system-ui, sans-serif;
$jaldi: 'Jaldi', -apple-system, system-ui, sans-serif;


// Reusable Colours
$darkColour: #333344;
$lightGrey: #dfdfdf;


// Text colours
$bodyTextColour: #555;
$lightTextColour: #aaa;
$placeholderTextColour: #bbb;



// Colours
$greenColour: #5cb85c;
$blueColour: #3c87c7;
$redColour: #cb4a4a;
$orangeColour: #e88a46;
$purpleColour: #b19cd9;
