

.MapPage, #map-app, #map-base, .main {
  @include fill-parent;
}


.MapPage {
  
  .main {
    padding-bottom: 46px;
    
    @include only-small { padding-bottom: 0px; }
  }
  
  footer {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    
    @include only-small { display: none; }
  }
  
  #map-base {
    @include fill-parent;
    .leaflet-marker-icon:focus { outline: none; }
  }
  
  .map-state {
    @include abs-fill;
    > { @include fill-parent; }
  }
  
}
