

@keyframes comment-appear {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translate(0); opacity: 1; }
}



$profleImageSize: 68px;
$mobileProfleImageSize: 52px;

@mixin comment-content() {
  position: relative;
  
  .profile-image {
    position: absolute;
    top: 0;
    left: 0;
    
    svg { height: $profleImageSize; width: $profleImageSize; }
  }
  
  .content {
    margin-left: $profleImageSize + 8px;
    min-height: $profleImageSize;
    position: relative;
  }
  
  @include only-mobile {
    .profile-image svg { height: $mobileProfleImageSize; width: $mobileProfleImageSize}
    .content {
      margin-left: $mobileProfleImageSize + 8px;
      min-height: $mobileProfleImageSize;
    }
  }
}

@mixin comment-bottom {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $lightGrey;
}

.comment-section {
  
}



.comment {
  @include comment-content;
  
  animation-name: comment-appear;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  
  @for $i from 0 through 10 {
    &:nth-child(#{$i}) { animation-delay: 0.1s * $i; }
  }
  
  &:not(:last-child) {
    @include comment-bottom;
  }
  
  .heading {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    color: $darkColour;
    
    .date { float: right; }
  }
    
  .message {
    margin-bottom: 0;
  }
}


.comment-composer {
  @include comment-content;
  @include comment-bottom;
  
  textarea {
    -webkit-appearance: none;
    border-radius: 4px;
    border: 2px solid #dadada;
    margin: 0px;
    height: 64px;
    width: 100%;
    resize: none;
    padding: 6px;
    font-size: 16px;
    padding-right: 68px;
    
    transition: border-color 0.3s ease;
    
    &:focus {
      outline: 0;
      border-color: $primaryColour;
    }
  }
  
  .placeholder {
    position: absolute;
    pointer-events: none;
    top: 8px;
    left: 8px;
    color: $placeholderTextColour;
    font-style: italic;
    font-size: 16px;
  }
  
  
  .send {
    @include reset-style;
    @include text-style();
    
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
    
    background: $primaryColour;
    opacity: 1.0;
    
    transition: background-color 0.1s, opacity 0.1s;
    
    
    &:disabled {
      background: #ccc; opacity: 0.5;
      opacity: 0.5;
    }
  }
  
  .login-message {
    font-size: 20px;
    margin: 24px 0;
    text-align: center;
    color: #888;
  }
}




.profile-image {
  
  svg {
    height: 62px;
    width: 62px;
  }
  
  text {
    @include text-style;
    font-size: 10px;
    fill: white;
  }
}
