@keyframes position-action-mobile {
  from { top: 40px; opacity: 0; }
  to   { top: 0; opacity: 1.0; }
}

.default-map-state {
  
  .action-list {
    position: absolute;
    top: $cardPadding;
    right: $cardPadding;
    display: block;
    z-index: $zMainActions;
    text-align: right;
    
    .action-holder {
      position: relative;
      
      @include only-small {
        animation: position-action-mobile 0.3s both;
      }
      
      @for $i from 0 through 5 {
        &:nth-child(#{$i}) { animation-delay: 0.06s * $i; }
      }
    }
    
    .action {
      @include button-style(true);
      font-size: 16px;
    }
    
    @include only-small {
      top: inherit;
      bottom: 96px;
      left: 12px;
      right: 12px;
      text-align: center;
    }
  }
  
  .actions-toggle {
    @include button-style(false);
    font-size: 20px;
    
    i { transform: scale(1.5); }
    
    position: absolute;
    bottom: 32px;
    
    margin: 0px;
    
    left: 12px;
    transform: translateX(0);
    transition: left 0.3s, transform 0.3s;
    
    z-index: $zMobileActionToggle;
    
    &.toggled {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
}
