@keyframes position-action-mobile {
  from { top: 40px; opacity: 0; }
  to   { top: 0; opacity: 1.0; }
}

.default-map-state {
  
  .controls-wrapper {
    position: absolute;
    top: $cardPadding;
    bottom: $cardPadding;
    left: $cardPadding;
    max-width: calc(100% - #{$cardPadding} - #{$cardPadding});
    width: 420px;
    
    .header {
      position: relative;
      
      h3 {
        margin: 0;
        margin-right: 2em;
        line-height: 54px;
        margin-left: 0.5em;
        
        button {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0;
          border: none;
          background: #fff;
          width: 54px;
          background-color: white;
          font-size: 1.5em;
          
          &:focus { outline: none; }
        }
      }
      
    }
    
    .inner {
      position: relative;
      min-height: 320px;
      background-color: #fff;
      z-index: $zControls;
      max-height: 100%;
      transition: right 0.3s, background-color 0.3s 0.1s;
      
      
      right: 0;
    }
    
    &:not(.active) .inner {
      right: calc(100% - 54px + #{$cardPadding});
      background-color: rgba(0,0,0,0);
      
      .header button {
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
      }
    }
    
    
    
  }
  
  .action-list {
    position: absolute;
    top: $cardPadding;
    right: $cardPadding;
    display: block;
    z-index: $zMainActions;
    text-align: right;
    
    .action-holder {
      position: relative;
      
      @include only-small {
        animation: position-action-mobile 0.3s both;
      }
      
      @for $i from 0 through 5 {
        &:nth-child(#{$i}) { animation-delay: 0.06s * $i; }
      }
    }
    
    .action {
      @include button-style(true);
      font-size: 16px;
    }
    
    @include only-small {
      top: inherit;
      bottom: 96px;
      left: 12px;
      right: 12px;
      text-align: center;
    }
  }
  
  .actions-toggle {
    @include button-style(false);
    font-size: 20px;
    
    i { transform: scale(1.5); }
    
    position: absolute;
    bottom: 32px;
    
    margin: 0px;
    
    left: 12px;
    transform: translateX(0);
    transition: left 0.3s, transform 0.3s;
    
    z-index: $zMobileActionToggle;
    
    &.toggled {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
}
