
@keyframes emoji-appear {
  // 0%   { transform: scale(0.7); }
  // 50%  { transform: scale(1.2); }
  // 100% { transform: scale(1.0); }
}

@keyframes emoji-select {
  33%   { transform: scale(1.3); }
  100%  { transform: scale(1.0); }
}

@keyframes grow-border {
  from  { border-width: 0px; }
  to    { border-width: 4px; }
}

@keyframes emoji-hover {
  // from { transform: scale(1.0); }
  // to   { transform: scale(1.2); }
}


.vote-section {
  
  margin-bottom: 18px;
  
  .title {
    text-align: center;
    font-size: 16px;
    margin-top: 2em;
  }
  
  .control {
    display: block;
    text-align: center;
    
    .holder {
      display: inline-block;
      background-color: transparentize($primaryColour, 0.93);
      box-shadow: 0px 0.5px 2px rgba(0,0,0,0.5);
      margin: 0;
      padding: 8px;
      height: 58px;
      border-radius: 28px;
      
      
      // @for $i from 1 to 10 {
      //   .emoji:nth-child(#{$i}) { animation-delay: 0.1s + ($i * 0.05s); }
      // }
    }
  }
  
  
  .emoji {
    display: block;
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    
    background-size: contain;
    background-repeat: no-repeat;
    
    &:not(:last-child) {
      margin-right: 6px;
    }
    
    transform: scale(1);
    transform-origin: center bottom;
    transition: transform 0.2s;
    
    
    .tip { display: none; }
    
    
    @include not-small {
      &:hover {
        cursor: pointer;
        transform: scale(1.15);
      }
      
      &:hover .tip {
        @include text-style;
        font-size: 12px;
        background: #000;
        color: #fff;
        position: absolute;
        top: -24px;
        border-radius: 4px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px 8px;
        user-select: none;
      }
    }
    
    &.current {
      animation-name: emoji-select;
      animation-fill-mode: both;
      animation-duration: 0.3s;
      animation-delay: 0.0s;
    }
    
    .backdrop {
      position: absolute;
      left: -3px;
      right: -3px;
      top: -3px;
      bottom: -3px;
      border-radius: 50%;
      border: 0px solid $secondaryColour;
      animation-name: grow-border;
      animation-duration: 0.3s;
      animation-fill-mode: both;
    }
    
    
  }
  
  .summary {
    text-align: center;
    font-weight: 700;
    color: #555;
    font-size: 12px;
  }
  
  
  
  .emoji-summary {
    img {
      width: 14px;
      height: 14px;
    }
    
    .count {
      margin-left: -2px;
      margin-right: 6px;
    }
  }
  
}
