
# Used by silverstripe
/assets
/silverstripe-cache
silverstripe.log


# Used by Composer
/vendor


# Composer Packages
/cms
/framework
/lumberjack
/siteconfig
/tagfield
/blog
/reports
/monolog
/sortablegridfield
/sqlite3
/display_logic


# Sass compiles
.sass-cache


# Compiled Assets
/public/**/*.*


# Ignore environment files
*.env


# Ignore logs
logs/*.log



# Ignore node modules
node_modules
