/*
 *      Reusable Styles
 */

.text-style {
  font-family: $baseFont;
  font-size: 16px;
  font-weight: 600;
  color: $bodyTextColour;
}

.heading-style {
  font-family: $headingFont;
  font-style: oblique;
  font-weight: 600;
}

.title-style {
  font-size: 42px;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 400;
}

.card-style {
  border: 1px solid $cardBorder;
  background: $cardBackground;
  padding: $cardPadding;
  margin-bottom: $cardPadding;
  border-radius: 2px;
}

.light-text {
  color: $lightTextColour;
}

.button-style {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  user-select: none;
  padding: 8px 18px;
  font-size: 18px;
  font-family: $baseFont;
  
  border: 1px solid #ccc;
  
  &:hover {
    text-decoration: none;
  }
  
  &.full {
    display: block;
    margin-bottom: 12px;
    text-align: center;
  }
  
  &.green {
    background: $greenColour;
    border-color: $greenAltColour;
    &:hover { background-color: $greenAltColour; }
  }
  
  &.blue {
    background: $blueColour;
    border-color: $blueAltColour;
    &:hover { background-color: $blueAltColour; }
  }
  
  &.red {
    background: $redColour;
    border-color: $redAltColour;
    &:hover { background-color: $redAltColour; }
  }
  
  &.orange {
    background: $orangeColour;
    border-color: $orangeAltColour;
    &:hover { background-color: $orangeAltColour; }
  }
}

html { height: 100%; }
