/*
 *  Variable definitions
 */


// General Config
$primaryColour: #85c162;
$secondaryColour: #aaaab1;


// Header Config
$headerBackground: #fff;
$headerInactive: #777;
$headerActive: #333;
$headerActiveBackground: #f6f6f6;


// Card Config
$cardBorder: #eaeaea;
$cardBackground: #fff;
$cardPadding: 18px;


// Fonts
$openSans: 'Open Sans', -apple-system, system-ui, sans-serif;
$jaldi: 'Jaldi', -apple-system, system-ui, sans-serif;


// Reusable Colours
$darkColour: #333344;


// Text colours
$bodyTextColour: #555;
$lightTextColour: #aaa;



// Colours
$greenColour: #5cb85c;
$greenAltColour: #52A352;

$blueColour: #3c87c7;
$blueAltColour: #306da1;

$redColour: #cb4a4a;
$redAltColour: #b83a3a;

$orangeColour: #e88a46;
$orangeAltColour: #d87b39;

$purpleColour: #b19cd9;
$purpleAltColour: #937bc0;
