/*
 *  Variable definitions
 */


// General Config
$themeColour: #87bf67;
$actionColour: #3886c9;


// Header Config
$headerBackground: #fff;
$headerInactive: #777;
$headerActive: #333;
$headerActiveBackground: #f6f6f6;


// Card Config
$cardBorder: #eee;
$cardBackground: #fff;
$cardPadding: 18px;


// Fonts
$baseFont: 'Open Sans', -apple-system, system-ui, sans-serif;
$headingFont: $baseFont;
$titleFont: 'Montserrat', -apple-system, system-ui, sans-serif;

$bodyTextColour: #555;
$lightTextColour: #aaa;
$titleColour: #333;
