<phpunit bootstrap="framework/tests/bootstrap.php">

    <testsuites>
        
        <testsuite name="mysite">
            <directory>mysite</directory>
            <directory>surveys</directory>
            <directory>maps</directory>
            <directory>auth</directory>
            <directory>interaction</directory>
        </testsuite>
        
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">mysite/code</directory>
            <directory suffix=".php">surveys/code</directory>
            <directory suffix=".php">maps/code</directory>
            <directory suffix=".php">auth/code</directory>
            <directory suffix=".php">interaction/code</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="SS_TestListener" file="framework/dev/TestListener.php" />
    </listeners>

</phpunit>
