
// Common vars
$zMainActions: 1500;
$zControls: 1500;
$zMobileActionToggle: 1500;
$zOverlay: 1400;
$zDetail: 1600;

$zPickerMessage: 1500;
$xPickerCancel: 1600;



// Common Mixins
@import 'mixins/abs-fill';
@import 'mixins/fill-parent';
@import 'mixins/primary-bottom';
@import 'mixins/comments';
