.survey-response {
  
  label.key {
    @include heading-style;
    font-size: 18px;
    margin: 0px;
  }

  p.value {
    font-weight: 400;
    margin-left: 18px;
    font-size: 15px;
  }
  
  
  .response {
    @include primary-bottom;
  }
  
  
  .media {
    display: inline-block;
  }
}
