/* Base Styles */
body {
  background: #f5f5f5;
  padding-top: 75px;
  position: relative;
  min-width: 320px;
  font-family: $jaldi;
  
  &.fill {
    min-height: 100%;
    footer {
      position: absolute;
      left: 0; right: 0;bottom: 0;
    }
  }
  
  
  p { @include text-style; }
  h1 { @include title-style; }
  h2, h3, h4, h5, h6 { @include heading-style; }
  
  a {
    color: $primaryColour;
    
    &:hover {
      color: darken($primaryColour, 20%);
    }
    
    &.bubble {
      text-decoration: none;
      font-weight: 600;
      border-radius: 5px;
      margin: 0 -0.3em;
      padding: 0.1em 0.3em;
      
      transition: color 0.3s, background-color 0.3s;
      
      &:hover {
        text-decoration: none;
        background-color: $primaryColour;
        color: white;
      }
    }
  }
  
  
  .content-card {
    @include card-style;
    
    .title { margin: 0px; }
    &:first-child { margin-top: $cardPadding; }
  }
  
  .breadcrumbs {
    .crumb { color: $primaryColour; }
    .crumb.last { color: $lightTextColour; font-weight: 400; }
    .seperator { padding: 0px 5px; }
  }
  
  .content {
    img { max-width: 100%; }
  }
}
