

@keyframes scale-in {
  0% { transform: scale(0, 0); }
  100% { transform: scale(1, 1); }
}


/* Header */
header {
  
  .navbar {
    background: $headerBackground;
    border: none;
    border-bottom: 5px solid $primaryColour;
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 10000;
    
    .navbar-header {
      
      .navbar-brand {
        padding: 4px;
        height: 70px;
        
        img {
          max-height: 100%;
        }
        
        svg {
          height: 100%;
          width: auto;
          max-width: 100%;
          
          &:hover {
            #make-splash { transform: scale(0.9, 0.9); }
          }
          
          #make-splash {
            transform-origin: center;
            transform: scale(1);
            transition: transform 0.3s ease;
          }
          
          
          .primary-bg { fill: $primaryColour; }
        }
      }
    }
    
    
    .menu-item a {
      margin-top: 10px;
      padding: 15px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
      border: 5px solid rgba(0,0,0,0);
      
      color: $headerInactive;
      
      
      transform: scale(1);
      transition: color 0.3s;
      
      &:hover {
        background-color: rgba(0,0,0,0);
        
        &:not(.active) {
          color: $darkColour
        }
      }
      
      &.active {
        color: $darkColour;
        font-weight: 600;
        border-bottom-color: $primaryColour;
      }
    }
  }
  
}
