/*
 *      Styles for specific screens
 */


/* Large Devices: Wide Screens */
@media only screen and (max-width : 1200px) {
  
}



/* Most Devices: Desktops */
@media only screen and (max-width : 992px) {
  
}



/* Smaller Devices: Tablets */
@media only screen and (max-width : 767px) {
  html, body {
    
    padding-top: 25px;
    
    .text-style { font-size: 14px; }
    .title-style { font-size: 32px; }
    
    h2 { font-size: 24px; }
    h3 { font-size: 21px; }
    h4 { font-size: 17px; }
    
    header .navbar {
      
      .navbar-header {
        .navbar-brand {
          height: 45px;
          margin-left: 15px;
        }
        .navbar-toggle {
          padding: 0px;
          font-size: 27px;
          margin-bottom: 2px;
          margin-top: 3px;
          padding: 0px;
          
          font-size: 27px;
        }
      }
      
      .navbar-nav .menu-item {
        
        &:not(:last-child) {
          border-bottom: 1px solid $cardBorder;
        }
        
        a {
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: 0px;
          text-align: center;
          
          &.active {
            border-bottom: 0px;
            background: $headerActiveBackground;
            border-radius: 0px;
          }
        }
      }
    }
    
  }
}



/* Small Devices: Phones */
@media only screen and (max-width : 480px) {
  html, body {
    
  }
}
