// Imports
@import 'bootstrap.min';
@import 'font-awesome.min';

@import '../../../config';
@import '../../../common';



/* Base Styles */
body {
  background: #f8f8f8;
  padding-top: 75px;
  position: relative;
  min-width: 320px;
  
  &.fill {
    min-height: 100%;
    footer {
      position: absolute;
      left: 0; right: 0;bottom: 0;
    }
  }
  
  
  p, li, td, label { font-family: $baseFont; }
  
  p { @extend .text-style; }
  h1 { @extend .title-style; }
  h2, h3, h4, h5, h6 { @extend .heading-style; }
  
  
  .content-card {
    @extend .card-style;
    
    .title { margin: 0px; }
    &:first-child { margin-top: $cardPadding; }
  }
  
  .breadcrumbs {
    .crumb { color: $actionColour; }
    .crumb.last { color: $lightTextColour; }
    .seperator { padding: 0px 5px; }
  }
  
  .content {
    img { max-width: 100%; }
  }
}



/* Header */
header {
  
  .navbar {
    background: $headerBackground;
    border: none;
    border-bottom: 5px solid $themeColour;
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 10000;
    
    .navbar-header {
      
      .navbar-brand {
        padding: 4px;
        height: 70px;
        
        img {
          max-height: 100%;
        }
      }
    }
    
    
    .menu-item a {
      margin-top: 20px;
      padding: 15px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
      color: $headerInactive;
      position: relative;
      
      &:hover {
        background: $headerActiveBackground;
      }
      
      &.active {
        color: $headerActive;
        font-weight: 600;
        
        border-bottom: 5px solid $themeColour;
        padding-bottom: 10px;
      }
    }
  }
  
}



/* Footer */
footer {
  background: #fff;
  border-top: 2px solid $themeColour;
  
  .links {
    font-style: normal;
    font-weight: 400;
    
    margin: 0px;
    padding: 12px 0px;
    
    .copyright {
      margin-right: 20px;
      color: $lightTextColour;
    }
    
    .link {
      padding-right: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      color: $lightTextColour;
      font-size: 12px;
    }
  }
}



/* Blog */
.Blog {
  .post-title { margin: 0px; }
  .post-date { font-size: 18px; font-weight: 400; }
}



/* Blog Post */
.BlogPost {
  .post-date {
    margin-top: 0px;
  }
}



/* Forms */
form {
  
  .message {
    &.error {
      background-color: #f2dede;
      border-color: $redAltColour;
      color: $redAltColour;
    }
    &.warning {
      background-color: #fcf8e3;
      border-color: $orangeAltColour;
      color: $orangeAltColour;
    }
  }
  
  p.message {
    margin-bottom: 32px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    text-align: center;
    padding: 8px 0px;
  }
  
  span.message {
    background: none !important;
    position: relative;
    top: -22px;
    display: block;
    text-align: right;
    border-top-width: 4px;
    border-top-style: solid;
  }
  
  label {
    color: $bodyTextColour;
    font-weight: 600;
    margin: 0px;
  }
  
  
  // General Styles
  input.text, input.file, textarea, select {
    width: 100%;
    background: #fafafa;
    border: 1px solid #f1f1f1;
    border-bottom: 3px solid $themeColour;
    margin-bottom: 18px;
    border-radius: 0px;
    color: #333;
    font-weight: 400;
    
    &:focus {
      outline: none;
      border-color: $actionColour;
      background: #eee;
    }
  }
  
  input.file {
    padding: 20px 3px;
  }
  
  input.checkbox, input[type=checkbox] {
    
    margin-left: 0px !important;
    
    &+ label {
      padding-left: 25px;
      padding-top: 1px;
      padding-bottom: 18px;
    }
  }
  
  select {
    height: 35px;
    -webkit-appearance: none;
    position: relative;
  }
  
  input.text, textarea, select {
    
    padding: 4px 3px 0px;
    font-size: 20px;
    
    transition:
      border 0.2s,
      background 0.2s,
      padding 0.2s;
    
    &:focus {
      padding: 4px 6px 0px;
    }
  }
  
  input[type=text], input[type=password],
  input[type=number], input[type=email] {
    @extend .text;
  }
  
  
  input[type=submit] {
    @extend .button-style;
    @extend .green;
  }
  
  
  
  .Actions {
    text-align: right;
  }
  
  
  
}



@import 'responsive';
