
// Variables
// ...

@import '../../config';
@import '../../common';



$buttonSize: 48px;

[v-cloak] { display: none; }


// Reusables
.map-button-style {
  @extend .button-style;
  
  box-shadow: 1px 1px 1px #666;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  
  .icon {
    float: left;
    padding-top: 5px;
    padding-right: 4px;
  }
}

.map-card-style {
  @extend .card-style;
  
  padding: 12px;
  border: 2px solid #ccc;
  
  margin: $cardPadding;
  max-width: 100%;
  overflow: scroll;
  max-height: calc(100% - #{$cardPadding} - #{$cardPadding});
}

.mobile-button-style {
  margin: 0px;
  
  width: $buttonSize;
  height: $buttonSize;
  
  background-size: contain;
  background-repeat: no-repeat;
}


// Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.grow-fade-enter-active, .grow-fade-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.grow-fade-enter, .grow-fade-leave-to {
  opacity: 0;
  transform: scale(0.5);
}







// Styles

.MapPage {
  
  header {
    // ...
  }
  
  .main {
    // padding: 0px;
  }
  
  a:focus {
    text-decoration: none;
  }
  
  #map-app {
    background: #fafafa;
    position: relative;
    height: 100%;
    
    
    #map {
      width: 100%;
      height: 100%;
      
      .leaflet-marker-icon:focus {
        outline: none;
      }
    }
    
    &.selecting {
      #map { cursor: crosshair !important; }
      .leaflet-interactive { pointer-events: none; }
    }
    
    #map-detail {
      position: absolute;
      top: 0; right: 0;
      width: 500px;
      z-index: 5000;
      padding-bottom: 0px;
      overflow-x: hidden;
      
      @extend .map-card-style;
      
      .title {
        position: relative;
        margin: -$cardPadding;
        margin-bottom: 0;
        padding: $cardPadding;
        padding-right: 82px;
        
        .menu {
          position: absolute;
          top: 12px;
          right: 12px;
          user-select: none;
          i {
            cursor: pointer;
            color: $actionColour;
          }
        }
      }
      
      .inner {
        padding-bottom: $cardPadding;
      }
      
      
    }
    
    #map-actions {
      position: absolute;
      top: 0; right: 0;
      margin-top: $cardPadding;
      margin-right: $cardPadding;
      width: 220px;
      z-index: 2000;
      
      .action {
        @extend .map-button-style;
        
        &:last-child { margin-bottom: 0px; }
      }
    }
    
    #map-controls {
      @extend .map-card-style;
      
      position: absolute;
      left: 0; top: 0;
      width: 320px;
      z-index: 4000;
      
      .title {
        margin-top: 0px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        text-align: center;
      }
    }
    
    #map-overlay {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background: rgba(0,0,0,0.3);
      z-index: 1500;
      padding: 0px $cardPadding;
      
      pointer-events: none;
      
      .message {
        @extend .map-card-style;
        
        text-align: center;
        margin-top: $cardPadding;
        font-size: 18px;
        color: $titleTextColour;
        max-width: 550px;
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    #map-cancel-button {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: auto;
      z-index: 3000;
      text-align: center;
      margin-bottom: 32px;
      
      
      .button.web {
        @extend .map-button-style;
        display: inline-block;
        margin: 0;
      }
      
      .button.mobile {
        @extend .mobile-button-style;
        background-image: url(../images/icons/cancel-button.svg);
        margin: auto;
      }
    }
    
    #mobile-buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 3000;
      margin-left: calc(#{$cardPadding} * 0.5);
      margin-bottom: 32px;
      
      p.button {
        float: left;
        margin-right: 12px;
        
        @extend .mobile-button-style;
        
        &.actions {
          background-image: url(../images/icons/actions-button.svg);
        }
        
        &.controls {
          background-image: url(../images/icons/controls-button.svg);
        }
      }
    }
    
    
    
    
    
    
    
    .survey-response {
      
      label.name {
        font-size: 18px;
        font-style: italic;
        margin: 0px;
      }
      
      p.value {
        font-weight: 400;
      }
    }
    
  }
  
}





/* Small Devices: Phones */
@media only screen and (max-width : 767px) {
  html body.MapPage footer {
    display: none;
  }
  
  html body.MapPage #map-app {
    
    #map-detail {
      
      .survey-response {
        label.name { font-size: 14px; }
        p.value { font-size: 12px; }
      }
    }
    
    #map-controls, #map-detail {
      right: 0;
      left: 0;
      margin: calc(#{$cardPadding} * 0.5);
      width: inherit;
      
      .title { font-size: 28px; }
    }
    
    #map-controls {
      top: inherit;
      bottom: calc(#{$buttonSize} + #{$cardPadding});
      margin-bottom: calc(#{$cardPadding} * 2.5);
    }
    
    
    #map-actions {
      top: inherit;
      right: 0;
      left: 0;
      bottom: $buttonSize;
      margin: #{$cardPadding} auto;
      margin-bottom: calc(#{$cardPadding} * 2.5);
      
      p { font-size: 24px; }
    }
    
  }
}
