


// Common vars
$zMainActions: 1500;
$zMobileActionToggle: 1500;
$zOverlay: 1400;
$zDetail: 1600;

$buttonSize: 48px;



// Utils
@mixin fill-parent {
  width: 100%; height: 100%;
  position: relative;
}

@mixin abs-fill {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
}



// Imports
@import 'components/SurveyComponent';
@import 'components/DetailMapState';
@import 'components/DefaultMapState';

@import 'pages/MapPage';




// Clock vue app until rendered
[v-cloak] { display: none; }





// Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.grow-fade-enter-active, .grow-fade-leave-active {
  transition: opacity .2s, transform .2s;
}
.grow-fade-enter, .grow-fade-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.fade-up-enter-active, .fade-up-leave-active {
  transition: transform 0.5s, opacity 0.5s;
}

.fade-up-enter, .fade-up-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
