




@import 'components/SurveyComponent';

@import 'pages/MapPage';



$buttonSize: 48px;

[v-cloak] { display: none; }


// Reusables
.map-button-style {
  @extend .button-style;
  
  box-shadow: 1px 1px 1px #666;
  font-size: 20px;
}

.map-card-style {
  @extend .card-style;
  
  padding: 12px;
  border: 2px solid #ccc;
  
  margin: $cardPadding;
  max-width: 100%;
  overflow: scroll;
  max-height: calc(100% - #{$cardPadding} - #{$cardPadding});
}

.mobile-button-style {
  margin: 0px;
  
  width: $buttonSize;
  height: $buttonSize;
  
  background-size: contain;
  background-repeat: no-repeat;
}


// Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.grow-fade-enter-active, .grow-fade-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}
.grow-fade-enter, .grow-fade-leave-to {
  opacity: 0;
  transform: scale(0.5);
}







// Styles







/* Small Devices: Phones */
@media only screen and (max-width : 767px) {
  html body.MapPage footer {
    display: none;
  }
  
  html body.MapPage #map-app {
    
    #map-detail {
      
      .survey-response {
        label.name { font-size: 14px; }
        p.value { font-size: 12px; }
      }
    }
    
    #map-controls, #map-detail {
      right: 0;
      left: 0;
      margin: calc(#{$cardPadding} * 0.5);
      width: inherit;
      
      .title { font-size: 28px; }
    }
    
    #map-controls {
      top: inherit;
      bottom: calc(#{$buttonSize} + #{$cardPadding});
      margin-bottom: calc(#{$cardPadding} * 2.5);
    }
    
    
    #map-actions {
      top: inherit;
      right: 0;
      left: 0;
      bottom: $buttonSize;
      margin: #{$cardPadding} auto;
      margin-bottom: calc(#{$cardPadding} * 2.5);
      
      p { font-size: 24px; }
    }
    
  }
}
