
.primary-background {
  background-color: $primaryColour;
}

.primary-border {
  border-color: $primaryColour;
}

.primary-focus-border:focus {
  border-color: $primaryColour;
}

.primary-alpha-background {
  background-color: transparentize($primaryColour, 0.9);
}

.secondary-border {
  border-color: $secondaryColour;
}
