// Imports
@import 'bootstrap.min';
@import 'font-awesome.min';

// Variables
$actionColour: #28ab6c;
$actionAltColour: #0F5937;


// Dark Theme
// $actionColour: #3385cb;
// $actionAltColour: #255885;
// $bgColour: #333333;
// $bodyColour: #222222;
// $bodyAltColour: #555555;
// $borderColour: #555555;
// $textColour: #dddddd;
// $textAltColour: #fff;
// $bodyShadow: 0 0 15px rgba(255,255,255, 0.02);

// Light Theme
$actionColour: #3385cb;
$actionAltColour: #255885;
$bgColour: #f8f8f8;
$bodyColour: #fff;
$bodyAltColour: #eee;
$borderColour: #dfdfdf;
$textColour: #333;
$textAltColour: #444;
$bodyShadow: 0 0 15px rgba(0,0,0,0.05);


// Mixins
@mixin scaled-bg-img($width, $height) {
    width: $width;
    height: 0px;
    padding-bottom: $height;
    background-position: center;
    background-size: cover;
}

.default-shadow {
    box-shadow: $bodyShadow;
}




a, .action { color: $actionColour; }
a:hover, .action:hover { color: $actionAltColour; }

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    
    background: $bgColour;
    color: $textColour;
    
    p, li, td {
        font-family: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
    }
    
    hr {
        border-color: $borderColour;
        margin: 30px 0px;
    }
    
    .main {
        padding: 40px 0px;
        
        .container, .fluid-container {
            background: $bodyColour;
            
            .jumbotron {
                background: $bodyAltColour;
            }
        }
        
        .container {
            padding: 25px;
            
            border-radius: 10px;
            border: 1px solid $borderColour;
            
            @extend .default-shadow;
        }
    }
}

.hidden {
    display: none;
}


header.top {
    
    @extend .default-shadow;
    
    .navbar {
        background: $bodyColour;
        margin-bottom: 0px;
        border-color: $borderColour;
        border-bottom: 5px solid $actionColour;
        
        .navbar-collapse.collapsing, .navbar-collapse.in {
            background-color: $bgColour;
            border-left: 1px solid $borderColour;
            border-right: 1px solid $borderColour;
        }
        
        .brand {
            padding: 10px;
            padding-left: 0px;
        }
        
        .nav-item {
            
            &.current a {
                background-color: $bodyAltColour;
                color: $textAltColour;
            }
            
            &.section a {
                background: #fafafa;
                box-shadow: 0 0 0 1px #ddd;
            }
            
            a {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                
                &:hover {
                    text-decoration: underline;
                    color: $actionColour;
                }
            }
        }
    }
}


footer {
    
    text-align: right;
    padding-top: 30px;
    margin-top: 20px;
    background: $bodyColour;
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-top: 1px solid $borderColour;
    
    @extend .default-shadow;
        
    .footer-menu .link {
        padding-left: 10px;
        margin-left: 10px;
        
        &:not(.first) {
            border-left: 1px solid $actionAltColour;
        }
    }
}

.content {
    overflow: hidden;
    img, iframe {
        max-width: 100%;
        height: inherit;
    }
}

















@media only screen and (max-width : 767px) {
    
    html body .main {
        
        padding: 20px 0px 40px;
        
        .container {
            border-radius: 0px;
            border-left: none;
            border-right: none;
        }
    }
    
    html body header.top .navbar {
        
        div[class^=col-] {
            padding: 0px;
        }
        
        .brand {
            padding-left: 10px;
        }
        
        .navbar-nav {
            margin: 0px;
        }
        // border: none;
        
        .nav-item a {
            border-radius: 0px;
            text-align: center;
        }
        
        .nav-item.first a {
            padding-left: 15px;
        }
        
        .brand {
            max-width: 66.6%;
        }
    }
}
