@import '../../config';
@import '../../common';


.LoginPage {
  .content-card {
    max-width: 550px;
    margin: 0px auto;
  }
  
  .oauth {
    padding-top: 20px;
    margin: 0px;
    text-align: center;
    
    .facebook-auth {
      display: inline-block;
      color: white;
      background: #3d5a97;
      padding: 20px 30px;
      font-size: 20px;
      border-radius: 5px;
      font-family: 'Open Sans';
      margin-bottom: 0px;
    }
  }
  
  .or-section {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #888;
    margin-top: 20px;
    
    &:before, &:after { content: '~'; }
  }
  
  .form-tabs {
    
    margin-top: 20px;
    
    ul.nav {
      text-align: center;
      
      li {
        float: none;
        display: inline-block;
        font-size: 18px;
        
        a { color: #888; }
        
        &.active a {
          color: #333;
        }
      }
    }
    
    .tab-pane {
      padding-top: 20px;
      
      .message {
        text-align: center;
      }
      
      form {
        
        .field {
          margin-top: 10px;
        }
        
        input.text, textarea, select {
          font-size: 18px;
          padding: 10px 15px;
          width: 100%;
        }
      }
    }
  }
}



.ProfilePage {
  
  .profile-card {
    .image {
      width: 66.6%;
      height: 0px;
      padding-bottom: 66.6%;
      margin: auto;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }
    .title {
      text-align: center;
      margin-bottom: $cardPadding;
    }
  }
  
  .action { @extend .button-style; }
}


.EditProfilePage {
  
  .container.form {
    max-width: 650px;
  }
  
  .back-button { margin-bottom: 0px; }
  
  .edit-form {
    margin-top: 40px;
  }
}
