

.LoginPage {
  .content-card {
    max-width: 550px;
    margin: 0px auto;
  }
  
  .auth-message {
    p { font-size: 18px; }
    .email {
      font-weight: 600;
    }
  }
  
  .oauth {
    padding-top: 20px;
    margin: 0px;
    text-align: center;
    
    .facebook-auth {
      display: inline-block;
      color: white;
      background: #3d5a97;
      padding: 20px 30px;
      font-size: 20px;
      border-radius: 5px;
      font-family: 'Open Sans';
      margin-bottom: 0px;
    }
  }
  
  .or-section {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #888;
    margin-top: 20px;
    
    &:before, &:after { content: '~'; }
  }
  
  .form-tabs {
    
    margin-top: 20px;
    
    ul.nav {
      text-align: center;
      
      li {
        float: none;
        display: inline-block;
        font-size: 18px;
        
        a { color: #888; font-weight: 400; }
        
        &.active a {
          color: #333;
        }
      }
    }
    
    .tab-pane {
      padding-top: 20px;
      
      .message {
        text-align: center;
      }
      
      form {
        
        .field {
          margin-top: 10px;
        }
        
        input.text, textarea, select {
          // font-size: 18px;
          // padding: 10px 15px;
          // width: 100%;
        }
      }
    }
  }
}
